@*컨트롤러에서 받아온 값에 따라 형식이 다름*@
@*  1. 모델 자체를 받았을때
    2. ViewBag으로 받았을때
    3. ViewData로 받았을때*@

@*<h1>사용자 번호 : @Model.No</h1>

<h1>사용자 이름 : @Model.Name</h1>


<h2>사용자 번호 : @ViewBag.User.No</h2>

<h2>사용자 이름 : @ViewBag.User.Name</h2>*@

<h3>사용자 번호 : @ViewData["no"]</h3>

<h3>사용자 이름 : @ViewData["name"]</h3>